
article {
    text-align: center;
        font-weight: bold;
    background-color: green; 
    color: black;
    }
    
    div {
    text-align: center;
        font-size:30px;
    color: black;
    }
#error-message{
    font-style: italic;
    color:red;

}